body{
    margin: 0;
    height: 100vh;
    background-color: black;
}

h1, h2, p, a, h3 {
    color: white;
}

nav{
    overflow: hidden;
    background-color: rgb(20, 20, 20);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h2{
    padding: 14px 16px;
    margin: 0;
}

nav a{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.jumbotron{
    background-image: url(picture/lamp.jpg);
    background-size: cover;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron h1{
    margin: 0;
    font-size: 50px;
}

.description{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 340px;
}

.description-text{
    width: 500px; 
    float:left; 
    height:100px; 
    margin:10px
}
.title{
    text-align: center;
}

.galeri{
    display: flex;
}

img{
    width: 250px;
}

.container{
    margin: 5px;
    text-align: center;
}
